## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

.spyproject/config/workspace.ini
.spyproject/config/vcs.ini
.spyproject/config/encoding.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/codestyle.ini
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/codestyle.ini.bak
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/CBL-ML.iml
.idea/other.xml
